<header class="myheader">
  <h1>
    <a style="all: unset" href="/"> Testing Crud NODEJS mongodb</a>
  </h1>

  <nav>
    <ul class="parent">
      <li>
        <a href="https://www.youtube.com/">
Go To Youtube        </a>
      </li>
      <li><a href="/add-new-article"> ADD DATA </a></li>
      <li id="dark" class="mode">CHANGE COLOR</li>
      <li><a href="/"> HOME </a></li>
    </ul>
  </nav>
</header>
